<!doctype html><html lang=en>
<head>
    <title>{{ title }} CI</title>
    <link href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABHSURBVDhP3cuxDQAgDAPB7L8Wi2HFj+QiPYjr/FHqKyuQIrITl0Z644FxOAo7jQdHYafx4CjsNB4chZ3Gg6OwE5dGuvFQtQFkj6kbuhZ49wAAAABJRU5ErkJggg==" rel="icon" type="image/x-icon" />
</head>
<body>
    <style>
        body{
            background-color: #222;
            margin: 0px;
            font-family: monospace, monospace;
            color: #fafafa;
        }
        a{
            color: #fafafa;
        }
        div#status{
            position: fixed;
            width: 100%;
            background-color: grey;
        }
        td{
            padding-right: 10px;
            padding-left: 10px;
        }
        td.running{
            background-color: dodgerblue;
        }
        td.waiting_for_task{
            background-color: orange;
        }
        td.waiting_for_semaphore{
            background-color: orange;
        }
        td.success{
            background-color: green;
        }
        td.failed{
            background-color: red;
        }
        td.skipped{
            background-color: grey;
        }
        form{
            display:inline;
        }
    </style>

    <style id="dynamic-style"></style>
    <script>
        function filterDivs(name){
            style = document.getElementById("dynamic-style");
            style.innerHTML = ".line{display:none}"
            style.innerHTML += "." + name + "{display:block}"
        }
        function showDivs(){
            style = document.getElementById("dynamic-style");
            style.innerHTML = ".line{display:block}"
        }
        function triggerFilter() {
            hash = window.location.hash.replace("#", "")
            if (hash) {
                filterDivs(hash);
            }
            else {
                showDivs();
            }
        }
        window.onhashchange = triggerFilter;
        triggerFilter();
    </script>

    <div id="status">Javascript required for dynamic updates. Refresh manually.</div>
    <script>var status = document.getElementById("status").innerHTML = "";</script>

    <!-- CSS is still bad. HTML comments are worse... -->
    <div id="status_spacer">&nbsp;</div>
    <center>
    <table style="width:100%;max-width:1000px">
        <tr>
            <td colspan=4>
                <h1><a href="/">{{ title }}{% if DEBUG %} - DEBUG{% endif %}</a></h1>
                <h3>
                    {{ state.branch }} - <a href="#">{{ state.commit }}</a>
                    {% if is_logged_in %}
                        {% if not state.finished %}
                            <form action="/kill/{{ state.identifier }}" method="POST"><button type="submit">Kill</button></form>
                        {% endif %}
                        <form action="/rerun/{{ state.identifier }}" method="POST"><button type="submit">Rerun</button></form>
                    {% endif %}
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                Duration
            </td>
            <td>
                Status
            </td>
            <td>
                Task
            </td>
        </tr>
        {% for task in state.tasks %}
        <tr>
            <td id="taskduration_{{ task.name }}">
                {{ get_duration(task) }}
            </td>
            <td id="taskstatus_{{ task.name }}" class="{{ task.status }}">
                {{ task.status }}
            </td>
            <td width=100%>
                {% autoescape false %}{{ "&nbsp;" * depth_in_tree(state, task.name) }}{% endautoescape -%}
                <a href="#{{ task.name }}">
                    {{- task.name }}
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    </center>

    <div id="events">
    {% autoescape false %}
    {% for line in lines %}<div style="white-space: pre-wrap;" class="line {{ line[0] }}">{{ line[1] }}</div>{% endfor %}
    {% endautoescape %}
    </div>

    <script>
        window.onload = function() {
            var stateSnapshot = {};

            var source = new EventSource("{{ stream }}");
            source.addEventListener(
                'line',
                function(e) {
                    isScrolledBottom = (window.innerHeight + window.pageYOffset) + 50 >= document.body.offsetHeight;

                    data = JSON.parse(e.data);
                    class_name = data[0];
                    line = data[1];

                    var div = document.createElement("div");
                    div.style.whiteSpace = "pre-wrap";
                    div.className = "line " + class_name;
                    div.innerHTML = line;

                    document.getElementById("events").appendChild(div);

                    if (isScrolledBottom){
                        window.scrollTo(0, document.body.scrollHeight);
                    }
                }
            );
            source.addEventListener(
                'eof',
                function (e){
                    var status = document.getElementById("status");
                    status.innerHTML = "End of file";
                    status.style.backgroundColor = "blue";
                    source.close()
                }
            );
            source.addEventListener(
                'state',
                function (e){
                    stateSnapshot = JSON.parse(e.data);
                    for (var task of stateSnapshot.tasks){
                        var el = document.getElementById("taskstatus_" + task.name);
                        el.className = task.status;
                        el.innerHTML = task.status;
                    };
                    printTime();  // Call immediately
                }
            );

            // StatusBar
            source.onopen = function() {
                var status = document.getElementById("status");
                status.innerHTML = "Connected";
                status.style.backgroundColor = "green";
            }
            source.onerror = function() {
                var status = document.getElementById("status");
                status.innerHTML = "Connection error...";
                status.style.backgroundColor = "red";
            }

            // Task durations
            function timeString(total_seconds) {
              if (total_seconds < 0) {
                total_seconds = 0;
              }
              var hours = Math.floor(total_seconds / 60 / 60);
              var minutes = Math.floor(total_seconds / 60) % 60;
              var seconds = Math.floor(total_seconds) % 60;
              var time_string = (hours.toString().padStart(1, "0") + ":" + minutes.toString().padStart(2, "0") + ":" + seconds.toString().padStart(2, "0"));
              return time_string
            }

            function printTime() {
              if (stateSnapshot.tasks) {
                var now = Math.floor(Date.now() / 1000);
                for (var task of stateSnapshot.tasks){
                  var el = document.getElementById("taskduration_" + task.name);
                  if (task.started) {
                    if (task.finished) {
                      el.innerHTML = timeString(task.finished - task.started);
                    } else {
                      el.innerHTML = timeString(now - task.started);
                    };
                  }
                };
              }
            }

            function callFunctionOncePerSecond(callBackFunction) {
                setTimeout(function() {
                  callBackFunction()
                  callFunctionOncePerSecond(callBackFunction)
                }, 1000 - (Date.now() % 1000));  // Subtract drift
            }

            callFunctionOncePerSecond(printTime);
        }
    </script>
</body>
</html>
